.form-control {
    display: block;
    width: 95%;
    margin: auto;
    margin-top: 10pt;
}

.form-inline-control {
    display: block;
    margin-top: 10px;
    float: left;
}

.form-button {
    display: block;
    margin-top: 10px;
    clear: both;
}