@import url('forms.css');
body {
    font-family: sans-serif;
}
form {
    width: 500px;
    margin: auto;
    background-color: lightgray;
    padding: 10pt;
}

form h1 {
    text-align: center;
    color: darkslategray;
}

.form-button {
    margin: auto;
    margin-top: 10pt;
}